* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body, html {
    height: 100%; 
}

.container {
    min-height: 100vh; 
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr auto; 
}

.header {
    background-color: blueviolet;
    grid-column: 1 / span 2;
}

.currDay {
    background-color: green;
    grid-column: 1;
    grid-row: 2;
}

.forecast {
    grid-column: 2;
    display: grid;
    grid-row: 1fr 1fr;
}

.nextDay1 {
    background-color: aqua;
    grid-row: 1;
}

.nextDay2 {
    background-color: blue;
    grid-row: 2; 
}

.footer {
    background-color: red;
    grid-column: 1 / span 2;
    grid-row: 3;
}
