* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	color: rgb(228, 231, 240);
}

.container {
	min-height: 100vh;
	text-align: center;
	font-family: "Poppins", "Franklin Gothic Medium", "Arial Narrow", Arial,
		sans-serif;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: auto 1fr auto;
}

.header {
	background-color: rgb(15, 38, 63);
	grid-column: 1 / span 2;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
}

.header #search {
	appearance: none;
	border: none;
	outline: none;
	padding: 0.5rem;
	border-radius: 1rem;
}

.currDay {
	background-color: rgba(31, 73, 121, 0.7);
	grid-column: 1;
	grid-row: 2;
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: auto 1fr;
}

.currDay .top {
	grid-column: 1 / span 2;
	margin-top: 2rem;
}

.currDay .left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-size: 1.25rem;
	margin: 1.5rem;
	gap: 1rem;
}

#cityTemp {
	align-self: center;
	font-size: 2.75rem;
	font-weight: bold;
}
#cityFeelsLike {
	font-size: 1rem;
}
.currDay .right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	margin: 1.5rem;
	gap: 0.5rem;
	font-size: 1rem;
	font-style: italic;
}

.forecast {
	grid-column: 2;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.nextDay1 {
	background-color: rgba(24, 58, 97, 0.8);
	grid-row: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.25rem;
}

.nextDay2 {
	background-color: rgba(20, 48, 81, 0.8);
	grid-row: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.25rem;
}

.nextDayData {
	border: 2px solid rgb(228, 231, 240);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: fit-content;
	padding: 0.5rem;
	border-radius: 0.5rem;
}

#nextIcon {
	align-self: center;
}

#nextNextIcon {
	align-self: center;
}

.footer {
	background-color: rgb(15, 38, 63);
	grid-column: 1 / span 2;
	grid-row: 3;
	padding: 0.5rem;
	font-size: 0.75rem;
}

.footer a {
	text-decoration: none;
	color: inherit;
}

.cold-bg {
	background-image: url("images/cold.jpg");
    width: 100%;
}

.mild-bg {
	background-image: url("images/mild.jpg");
}

.hot-bg {
	background-image: url("images/hot.jpg");
}
