* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	color: #e4e7f0;
}

.container {
	min-height: 100vh;
	text-align: center;
	font-family: "Poppins", "Franklin Gothic Medium", "Arial Narrow", Arial,
		sans-serif;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: auto 1fr auto;
}

.header {
	background-color: blueviolet;
	grid-column: 1 / span 2;
}

.currDay {
	background-color: #1f4979;
	grid-column: 1;
	grid-row: 2;
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: auto 1fr;
}

.currDay .top {
	grid-column: 1 / span 2;
    margin-top: 2rem;
}

.currDay .left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-size: 1.25rem;
	margin: 1.5rem;
	gap: 1rem;
}

#cityTemp {
	align-self: center;
	font-size: 2.75rem;
	font-weight: bold;
}
#cityFeelsLike {
    font-size: 1rem;
}

.currDay .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 1.5rem;
    gap: 0.5rem;
    font-size: 1rem;
    font-style: italic;
}

.forecast {
	grid-column: 2;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.nextDay1 {
	background-color: #183a61;
	grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.nextDay2 {
	background-color: #143051;
	grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.nextDayData {
    border: 2px solid #e4e7f0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    padding: 0.25rem;
    border-radius: 0.5rem;
}


.footer {
	background-color: red;
	grid-column: 1 / span 2;
	grid-row: 3;
}
